* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body, html, .container {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    background: url(./imgs/app-bg.jpg) no-repeat 0 0;
    background-size: cover;
    overflow: auto;
    color: white;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;

    padding: 4px 8px;
    margin-bottom: 8px;
    border: 2px solid black;
    border-radius: 8px;
}

#location-search {
    outline: none;
    border: none;
    background-color: inherit;
    color: white;
}

#location-search::placeholder {
    color: white;
}

#location-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url(./imgs/x.svg) no-repeat 50% 50%;
    color: white;
}

.search-btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.current-info {
    text-align: center;
    border-radius: 8px;
    margin-top: 1rem;

    color: white;
}

#today-img {
    height: 100px;
    width: 100px;
}

#weather-type {
    text-transform: capitalize;
}

#today-temp {
    font-size: 3rem;
    margin: 1rem 0;
}

.more-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-item {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    border-top: 1px solid white;
}


.info-item:nth-child(2n) {
    border-left: 1px solid white;
}

.info-text {
    flex: 1;
}

.info-title, .info-text > p {
    font-size: 0.8rem;
}

.forecast {
    margin-top: 2rem;
    padding: 0 1rem;
}

.forecast-header {
    display: flex;
}

.option-select {
    margin-right: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: inherit;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.option-select.selected {
    border: 2px solid white;
}

.forecast-hourly, .forecast-daily {
    display: none;
    gap: 1rem;
    overflow-x: scroll;
    margin-top: 1rem;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.forecast-hourly.active, .forecast-daily.active {
    display: flex;
}

.forecast-entry {
    flex: 1;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}

.forecast-temp, .time {
    font-weight: 700;
}

.forecast-img {
    width: calc(3rem + 2vw);
}


